@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --wrap: 1440px;
  --wrapspace: 30px;
  --paddingTopBottom: 30px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
}

body {
  background: var(--background);   
  color: var(--foreground);
  font-family: var(--font-manrope);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: calc(var(--wrap) + var(--wrapspace) * 2);
  margin-inline: auto;
  padding-inline: var(--wrapspace);
}


