@import "tailwindcss";
/* @tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundLight: #fafafa;
  --border: #eeeef0;
  --primary: #2563eb;

  --wrap: 1440px;
  --wrapspace: 30px;
  --paddingTopBottom: 30px;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --backgroundLight: #18181b;
  --border: #2a2a2a;
  --primary: #1e40af;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: calc(var(--wrap) + var(--wrapspace) * 2);
  margin-inline: auto;
  padding-inline: var(--wrapspace);
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--foreground);
}

